

- unless cookies.has_key?(:TOKEN_SESSION)
  .row
    .col-md-12.text-center
      %h1
        ¡BIENVENIDO!
      = link_to  "AUTORIZAR APP",@auth_url,:class=>"btn btn-light btn-lg active", :role=>"button"
-else
  .container.page-top
    .row
      - @random_images.each do |image|
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.fancybox{:href => "#{show_image_path(:id=>image.id)}", :rel => "ligthbox"}
            %img.zoom.img-fluid{:alt => "", :src => "#{image.urls.full}"}/
