
%h1
  Bienvenido

- unless cookies.has_key?(:code)
  = link_to  "autorizar",@auth_url
-else
  .container.page-top
    .row
      - @random_images.each do |image|
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.fancybox{:href => "#{show_image_path(:id=>image.id)}", :rel => "ligthbox"}
            %img.zoom.img-fluid{:alt => "", :src => "#{image.urls.full}"}/
