
.row
  .col-md-12.text-center
    %h1
      =@photo.description.upcase unless @photo.descriptionv.nil?

  .row
    .col-md-12.text-center
      = image_tag @photo.urls.small, :clasv=> "rounded mx-auto d-block"
    .col-md-12.text-center
      .col-md-2.text-center#like
        = link_to  "Me gusta",give_like_path(:image_id=>params[:id]),:class=>"btn btn-light btn-lg active", :role=>"button"
